html, body, .container-fluid {
  background-color: #ffffff;
}


#status {
	border: 1px dotted #888888;
	margin-top: 10px;
	height: 60px;
	max-height: 60px;
	padding: 4px;
	overflow: scroll;
	font-size: 0.8em;
  display: none;
}

#syncBtn {
  display: none;
}

.navbar-btn {
  margin-left: 10px;
}


#main-image{
  position: fixed;
  top: 70px;
  left: 20px;
}


#progress-container {
  margin-top: 20px;
}

#main-progress{
  position: fixed;
  bottom: 0px;
  left: 20px;
}